.app-store {
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-body {
  padding: 10px;
}

#magik-video-modal-body {
  position: relative;
  padding-bottom: 53.3%;
  padding-top: 25px;
  height: 0;
}
#magik-video-modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 880px) {
  
  #magik-video-dialog  {
    width: 854px;
  }
}