.app-store {
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-body {
  padding: 10px;
}

#magik-video-modal-body {
  position: relative;
  padding-bottom: 53.3%;
  padding-top: 25px;
  height: 0;
}

#magik-video-modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testimonials {
  padding-bottom: 20px;
  padding-top: 20px;
}

#testimonials-carousel {
  height: 180px;
}

.carousel .testimonials-item {
  height: 100%;
  background-color: transparent;
}

.btn-assine {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
}

.planos-navbar-default {
  background-color: #c80000;
  border-color: transparent;
  transition: all 0.3s ease-in-out 0s;
}

.planos-navbar-default .navbar-nav > li > a:hover {
  color: lightgray;
}

#mc_embed_signup {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .planos-navbar-default .nav li a {
    color: white;
  }
}

@media screen and (max-width: 500px) {
  #testimonials-carousel {
    height: 260px;
  }
}

@media screen and (min-width: 880px) {
  
  .carousel .testimonials-item {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #magik-video-dialog  {
    width: 854px;
  }
}